
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494828671748'); /* IE9*/
  src: url('iconfont.eot?t=1494828671748#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494828671748') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494828671748') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494828671748#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-invite:before { content: "\e62d"; }

.icon-lock:before { content: "\e62e"; }

.icon-loan:before { content: "\e62f"; }

.icon-notice_solid:before { content: "\e632"; }

.icon-payall:before { content: "\e633"; }

.icon-notice:before { content: "\e634"; }

.icon-payinmonth:before { content: "\e635"; }

.icon-question:before { content: "\e636"; }

.icon-redpacket:before { content: "\e637"; }

.icon-redpacket_solid:before { content: "\e638"; }

.icon-return:before { content: "\e639"; }

.icon-safecenter:before { content: "\e63a"; }

.icon-user:before { content: "\e63b"; }

.icon-total:before { content: "\e63c"; }

.icon-type:before { content: "\e63d"; }

.icon-verification:before { content: "\e63e"; }

.icon-about:before { content: "\e63f"; }

.icon-apply:before { content: "\e640"; }

.icon-choice:before { content: "\e641"; }

.icon-clock:before { content: "\e642"; }

.icon-cost:before { content: "\e643"; }

.icon-event:before { content: "\e644"; }

.icon-event_solid:before { content: "\e645"; }

.icon-fire:before { content: "\e646"; }

.icon-guarantee:before { content: "\e647"; }

.icon-guidebook:before { content: "\e648"; }

.icon-help:before { content: "\e649"; }

.icon-home:before { content: "\e64a"; }

.icon-money:before { content: "\e64b"; }

.icon-phone:before { content: "\e64c"; }

.icon-investrecords:before { content: "\e64d"; }

.icon-persent:before { content: "\e64e"; }

.icon-term:before { content: "\e64f"; }

.icon-projectdetail:before { content: "\e650"; }

.icon-detail:before { content: "\e651"; }

.icon-feedback:before { content: "\e652"; }

.icon-hf:before { content: "\e653"; }

.icon-idcard:before { content: "\e654"; }

.icon-msg:before { content: "\e655"; }

.icon-horn:before { content: "\e656"; }

.icon-goinvest:before { content: "\e657"; }

.icon-withdrawals:before { content: "\e658"; }

.icon-recharge:before { content: "\e659"; }

.icon-email:before { content: "\e65a"; }

.icon-bankcard:before { content: "\e65b"; }

.icon-visible:before { content: "\e65c"; }

.icon-invest:before { content: "\e65d"; }

.icon-menu:before { content: "\e65e"; }

.icon-tag:before { content: "\e65f"; }

.icon-more:before { content: "\e660"; }

.icon-Refresh:before { content: "\e661"; }

.icon-success:before { content: "\e662"; }

.icon-failed:before { content: "\e663"; }

